<!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>PDF Viewer</title>
    </head>
  
    <body style="margin:0">
        <iframe
        id="pdfFrame"                 
            src="{% if chunkid %}
                    {{ viewer }}?file=/pdf/{{ target }}&chunkid={{ chunkid }}&index={{ index }}&pages={{ pages }}
                {% else %}
                    {{ viewer }}?file=/pdf/{{ target }}&words={{ words }}
                {% endif %}"
            style="width:100vw;height:100vh;border:none">
                 
        </iframe>
      
    </body>
   
    </html>
